@font-face {
    font-family: "AgoraSansPro";
    src: url("font/AgoraSansPro/PFAgoraSansPro-Bold.ttf");
    font-style: bold;
    font-weight: 400;
}
@font-face {
    font-family: "AgoraSansPro";
    font-style: normal;
    src: url("font/AgoraSansPro/PFAgoraSansPro-Reg.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "CoreRhino";
    src: url("font/CoreRhino/S-Core - CoreRhino65Bold.otf");
    font-style: bold;
    font-weight: 400;
}
@font-face {
    font-family: "CoreRhino";
    font-style: normal;
    src: url("font/CoreRhino/S-Core - CoreRhino45Regular.otf");
    font-weight: 400;
}
body{
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: "CoreRhino"
}
.container-img-preview{
    text-align: center
}
.container-img-preview > img{
    margin: .1rem;
    max-width: 200px;
    height: auto;
}
.no-visible{
    visibility: hidden;
}
#container-websocket-status{
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 2rem;
    display: flex
}
#websocket-status{
    margin: auto;
}
#menu a, #menu a.dropdown-item:hover{
    color: white;
}
#menu a.dropdown-item{
    color: #333
}
.colors-institutional{
    color: black
}
.max-width-5{
    max-width: 10vw;
}
.max-width-10{
    max-width: 10vw;
}
.max-w-20{
    max-width: 20vw;
}
.code-http {
    font-size: 20vw;
}
.colors-institutional > div{
    display: inline
}
.colors-institutional div:nth-child(4n+1){
    color: #ef8903
}
.colors-institutional div:nth-child(4n+2){
    color: #f9485c
}
.colors-institutional div:nth-child(4n+3){
    color: #6ed34b
}
.colors-institutional div:nth-child(4n+4){
    color: #39c0e0
}
.cut-string{
    display: flex;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.cut-string .cut{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.help-block{
    background: #f9485c;
    color: white;
    padding: .25rem;
    display: inline-block;
    margin-top: .2rem;
}
.header-main{
    height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.header-main::before{
    content: "";
    background-color:white;
    height: 2px;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.header-main > div {
    width: 30vw;
    background-color: white ;
    height: 10vh;
    display: flex;
}
.header-main > div > img {
    margin: auto;
    height: 10vh;
}
.no-visible{
    visibility: hidden
}
.navbar-left{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    margin-left: -15px;
    flex-wrap: wrap;
    padding: 5px 5px;
}
.navbar-left  .dropdown-menu{
    right: 10px;
    left: auto;
}
.navbar-left > li{
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px;
}
.navbar-left > li li{
    display: none;
}
/*Sobreescribir estilos multiselect*/
.multiselect-native-select > .btn-group {
    width: 100%;
}
span.multiselect-native-select {
    width: 90%;
}
button.multiselect {
    width: 100%;
}
.multiselect-container > li > a > label.checkbox {
    width: 100% !important;
}
.multiselect-native-select .dropdown-menu {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}
.multiselect-container > li > a{
    color: white
}
.multiselect-container > li:hover, .multiselect-container > li:focus{
    background: #39c0e0
}
/*sobreescribir estilos de fontawesome*/
.fas{
    margin-right: 5px;
    margin-left: 5px;
}
/* Soobreescribir estilos de selectize */
.selectize-control{
    padding: 0px;
}
/*Soobreescribir estilos de jquery confirm*/
.jconfirm.jconfirm-supervan .jconfirm-bg{
    background-color: #724b9c;
}
.jconfirm .jconfirm-box .jconfirm-buttons button,
.jconfirm.jconfirm-white .jconfirm-box,
.jconfirm.jconfirm-light .jconfirm-box{
    border-radius: 0px;
}
.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c{
    font-size: 3vw;
}
.jconfirm.jconfirm-modern .jconfirm-box{
    padding: 20px 30px 15px;
}
.jconfirm-box{
    border-top-width: 10px !important
}
/*Sobreescribir estilos datable*/
.dataTables_info{
    overflow: auto
}
table.dataTable > tbody > tr.child ul.dtr-details{
    min-width: 50%;
}
table.dataTable > tbody > tr.child ul.dtr-details > li{
    display: flex;
    justify-content: space-between
}
table.dataTable > tbody > tr.child span.dtr-title{
    width: 50%;
    text-align: left;
    position: relative;
}
table.dataTable > tbody > tr.child span.dtr-data{
    width: 50%;
    text-align: left;
    position: relative;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty{
    text-align: left;
}
table.dataTable > tbody > tr.child ul.dtr-details > li{
    border: none;
}
.dataTables_filter > label > input {
    min-width: 250px !important;
    width: 30vw !important;
}

